
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

:root {
    --primary-color: #8000FF;
    --secondary-color: #FF64CB;
    --nav-color: #6700EE;
    --light-color: #8BFCFF;
    --dark-gray: #3B3B3B;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    font-family: "Poppins", sans-serif;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

img {
    width: 100%;
}

.nav-container {
    background: var(--nav-color);

    a {
        color: white;
    }

    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 2em;

        .logo {
            color: var(--light-color);
            font-weight: bold;
        }

        nav ul {
            display: flex;

            li {
                display: block;
                font-size: 0.6em;
                font-weight: 600;
                padding: 0 0.6em;
            }
        }
    }
}

.social-header, .hero-design {
    display: none;
}

.hero {
    background: var(--primary-color);
    color: white;
    display: grid;
    text-align: center;
    padding: 5em 2em;

    h1 {
        font-size: 1.7em;
    }

    .meet {
        display: flex;
        justify-content: center;
        font-weight: bold;
        color: var(--secondary-color);
        margin: 2em 0;
    
        span {
            margin-right: 0.5em;
        }
    }
    
    .scroll {
        width: 30px;
    }
}

section {
    padding: 4em 2em;
    text-align: center;
}

.featured {
    position: relative;
}

.featured::before {
    content: '';
    position: absolute;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background: #6F00FF;
    opacity: 0.1;
    top: 0;
    left: 0;
    z-index: -1;
}

.subtitle {
    text-transform: uppercase;
    font-weight: bold;
    color: var(--primary-color);
    letter-spacing: 0.2em;
    font-size: 0.8em;
    margin-bottom: 0.3em;
}

.featured-title {
    font-weight: bold;
    font-size: 1.2em;
    display: block;
    margin-bottom: 1em;
}

.featured-desc {
    color: var(--dark-gray);
    margin-bottom: 4em;
    font-size: 0.85em;
    line-height: 1.8em;
    font-weight: 400;
}

.featured img.right {
    border-radius: 0.5em;
}

.skills {
    background: var(--secondary-color);

    .skills-container {

        ul li {
            background: white;
            padding: 2em;
            border-radius: 1em;
            margin-bottom: 1em;
        }

        .icon-container {
            height: 200px;
            display: grid;
            place-content: center;
    
            &.one img {
                width: 60px;
            }

            &.two {
                font-size: 1.2em;
                color: #B8B8B8;
                span {
                    color: var(--primary-color);
                }
            }

            &.three {
                font-size: 2em;
                font-weight: bold;
                color: #B8B8B8;

                p {
                    line-height: 0.8em;
                }
                span {
                    color: var(--primary-color);
                }

                & >:first-child {
                    transform: translateX(-20%);
                }

                & >:last-child {
                    transform: translateX(20%);
                }
            }
        }
    
        .skill-title {
            font-weight: bold;
            margin-bottom: 1em;
        }
    }
}

.portfolio {

    img {
        border-radius: 0.5em;
        margin-bottom: 3em;
    }

    & >:last-child img {
        margin-bottom: unset;
    }
}

.hire-me {

    padding-top: unset;
    span {
        text-decoration: underline;
        color: var(--secondary-color);
    }
}

footer {
    background: var(--primary-color);
    padding: 4em 2em;

    .left {
        display: flex;
        justify-content: space-between;
        
        .logo-social {
            
            .logo {
                color: var(--light-color);
                font-weight: bold;
            }
            
            .social-footer ul {
                display: flex;
                margin-top: 1em;

                li a {
                    display: block;
                    margin-right: 1em;
                    color: white;
                }
            }
        }

        .quick-links a {
            display: block;
            color: white;
            padding: 0.2em;
            margin-bottom: 0.5em;
            font-size: 0.6em;
            font-weight: 600;
        }
    }

    img.footer-design {
        display: none;
    }
}